@font-face {
    font-family: 'Porter Bold';
    src: url("../font/PorterBold.otf");
}
@font-face {
    font-family: 'Porter Medium';
    src: url("../font/PorterMedium.otf");
}
body{ 
	/*
	font-family:Georgia, "Georgia Regular";
  	background:#fff;
	font-size:0.65em;
	*/
	background:#fff;
	font-size:0.65em;
    color: #1d1d1b;
    font-family: 'LTCircular',Arial,sans-serif;
    line-height: 1.47;
    margin: 0;
    padding: 0;
    -webkit-transition: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
i{ font-style:italic; }
p{
	font-size:1.6em;
	line-height:1.4em;
	margin-bottom:1.4em;
	color:#5c5c5c;
}
.clear{ clear:both; }
h1, h2, h3, h4{
	font-family:'Porter Bold', Porter Bold, Georgia, "Georgia Regular";
	line-height:1.4em;
	padding-bottom:0.75em;
	color:#1d1d1b;
}
b, strong { font-weight:bold; }
h2{
	font-family:'Porter Bold', Porter Bold, Georgia, "Georgia Regular";
}
h3, h4{
	font-family:'Porter Medium', Porter Medium, Georgia, "Georgia Regular";
}
.intro-box{
	background-repeat: no-repeat;
	background-position: top left; 
	background-size:cover;
}
.intro-box h1{ font-size:4em; font-style:italic; color:#fff; text-align:center; padding:160px 100px 120px 100px; font-family:Georgia, "Georgia Regular"; }
.grid-container{ max-width:1000px; }
.header{ height:70px; background:#1d1d1b; position:fixed; top:0; z-index:9; }
.header .logo a{ background:url("../images/the-legends-barbershop.png") no-repeat center left; background-size:cover; font-size:0; width:165px; height:70px; float:left; }
.menu-main, .menu-main .menu-main-area, .menu-main .menu-main-area-icons{ float:right; }
.menu-main, .menu-main .menu-main-area li{
	height:70px; 
	line-height:70px;
	float:left;
}
.menu-main .menu-main-area{ margin-right:10px; }
.menu-main .menu-main-area li a {
	height:70px; 
	line-height:70px;
	float:left;
	padding:0 10px;
	color:#fff;
	text-decoration:none;
	font-size:1.4em;
	font-family: 'Porter Bold', Porter Bold, 'LTCircular',Arial,sans-serif;
	font-weight:600;
}
.menu-main .menu-main-area li a:hover {
	color:#fff;
	background:url("../images/element-menu.png") no-repeat center 50px; 
}
.menu-main .menu-main-area-icons li{
	height:70px; 
	float:left;
}
.menu-main .menu-main-area-icons li a {
	float:left;
	margin:19px 10px 19px 0;
	height:30px;
	width:30px;
	border:1px solid #fff;
	font-size:0;
}
.panel-pane:nth-child(1) .pane-content p, .panel-pane:first-child .pane-content p{ text-align:center; }
.menu-main .menu-main-area-icons li a:hover{ border-color:#f3f3f3; }
.menu-main .menu-main-area-icons li a.menu{ background:url("../images/menu.png") no-repeat center center;  }
.menu-main .menu-main-area-icons li a.menu:hover{ background:url("../images/menu-hover.png") no-repeat center center; border-color:#1d1d1b; }
.menu-main .menu-main-area-icons li a.menu.opened, .menu-main .menu-main-area-icons li a.menu.opened:hover{ background:url("../images/menu-close.png") no-repeat center center; border-color:#1d1d1b; }
.menu-main .menu-main-area-icons li a.user{ background:url("../images/user.png") no-repeat center center; }
.menu-main .menu-main-area-icons li a.checkout{ background:url("../images/cart.png") no-repeat center center; }
.menu-main .menu-main-area-icons li a.user:hover{ background:url("../images/user-hover.png") no-repeat center center; }
.menu-main .menu-main-area-icons li a.checkout:hover{ background:url("../images/cart-hover.png") no-repeat center center; }
.panel-pane{ background:#fff; }
.panel-pane:nth-child(even), #block-block-3 .panel-pane, #block-block-7 .panel-pane{ background:#f9f9f9; }
.section h1, .panel-pane h2.pane-title{ color:#1d1d1b; font-size:3em; background:url("../images/element.png") no-repeat center 1.5em; text-align:center; margin:0.5em 0; }
.section h1 a,  .panel-pane h1 a, .panel-pane h2.pane-title a{ color:#1d1d1b; text-decoration:none; }
.section p{ text-align:center; }
.section.page-node p{ text-align:left; }
.section.page-node h2, h2{ color:#b71b20; font-size:2.4em; }
.blog-row h2.title-link { position:relative; padding-bottom:0.2em; }
.blog-row h2.title-link a{ 
	text-align: center; 
	margin-bottom: 0; 
	color:#b71b20; 
	font-size:1.4em; 
	line-height:1em; 
	text-decoration:none; 
}
.blog-row h2.title-link a:before{
	content: "";
	position: absolute;
	z-index:-1;
	top: 0;  left: 0;  right: 0;  bottom: 0;
	background: #b71b20;
	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: transform .3s ease-out;
}
.blog-row h2.title-link a:hover:before{transform: scaleX(1);}
.blog-row h2.title-link a:hover{ 
    color: #fff;
	text-decoration:none;
}
.category-div{ width:100%; color:#1d1d1b; float:left; font-size:1.4em; margin-bottom:10px; font-family:'Porter Bold', Porter Bold, Georgia, "Georgia Regular"; }
.category-div a { color:#b71b20; } 
.section.page-node h3, h3{ color:#b71b20; font-size:2em; }
.section.page-node h4{ color:#b71b20; font-size:1.8em; }
.products h2, .courses h2, .footer h2 { font-size:2.4em; color:#b71b20; }
.content{ position:relative; }
a { color:#b71b20; text-decoration:underline; }
a:hover{ text-decoration:none; }
.section ul {
	list-style:circle;
	margin:0 0 0 2em;
	padding:0 0 0 1.4em;
}
.section ul li{
	font-size:1.6em;
	line-height:1.4em;
	padding-bottom:1.4em;
	color:#5c5c5c;
}
.no-para-padding-bottom{ padding-bottom:3em; }
.products.voucher-page.no-para-padding-bottom{ margin-bottom:3em; border-bottom:1px dashed #b71b20; }
.node-13 .products.voucher-page.no-para-padding-bottom:last-child{ border-bottom:0!important; }
.node-13 .products.voucher-page.no-para-padding-bottom:first-child{ margin-top:1.5em; }
.products h2 a, .courses h2 a{ color:#b71b20; text-decoration:none; text-align:left; }
.products h2 a:hover, .courses h2 a:hover{  text-decoration:underline; }
.products p, .courses p{ text-align:left; }
.products .price, .courses .price{ font-family:Georgia, "Georgia Regular";  color:#b71b20; line-height:42px; font-size:2.4em; }
button, a.button-link, input[type='submit']{ 
    font-size: 1.4em;
	line-height: 30px;
	height: 38px;
    padding: 0 2.6em;
	border:3px solid #1d1d1d; 
	color:#1d1d1d; 
	font-family:'Porter Medium', Porter Medium, Georgia, "Georgia Regular";
	font-weight:600;
	background:none; cursor:pointer; text-transform:uppercase;
	float:left; 
	text-decoration:none;
}
button:hover, a.button-link:hover, input[type='submit']:hover{ 
	background:#1d1d1d; 
	border:3px solid #1d1d1d; color:#fff; 
}
input[type='submit']{ margin-bottom:20px; }
.products button, .courses button, .products a.button-link, .courses a.button-link, input[type='submit']{ border-color:#b71b20;  color:#b71b20; }
.products button:hover, .courses button:hover, .products a.button-link:hover, .courses a.button-link:hover, input[type='submit']:hover { background:#b71b20;  color:#fff; border-color:#b71b20; }
.products img, .courses img, .barbers img{ position:relative; left:50%; margin-left:-75px; margin-bottom:3em; } 
.products.voucher-page img{ margin-left:-100px; height:200px; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; -o-border-radius:100px; }
.products.voucher-page .paypal-button img{ height:auto!important; margin:0!important; }
.barbers img{ margin-bottom:1.5em; } 
.intro-buttons button, .intro-buttons a.button-link{ margin-bottom:10px; text-align:center; font-size: 1.4em; line-height: 30px; height: 38px; }
.cash-only{ padding-top:1.4em; padding-bottom:0; background:url("../images/element.png") no-repeat center 0; }
.footer{ padding:0 0 1em 0; background:#1d1d1d; color:#fff;  }
.footer-bottom {
    padding: 1em;
    background: #0D0D0D;
	text-align:right;
	font-size:0.75em;
	font-family:Georgia, "Georgia Regular";
}
.map h3{ color:#1d1d1b; font-size:1.6em; text-align:center; font-style:italic; font-weight:600; }
.footer-bottom p{ color:#f4f4f4; padding:0; line-height:1em; margin:5px 0; line-height:30px; }
.footer-bottom p a{ color:#f1f1f1; }
.footer h2, .footer p{ color:#fff; }
.footer h2{ padding-top:1em; }
.service-prices { font-size:1.6em; }
.service-prices > div{ line-height:1.4em; }
.align-right{ text-align:right; }
.section.page-node .barbers h2, .barbers h2{ color:#1d1d1b; font-size:2.4em; padding-bottom:0; line-height:1em; margin-bottom:0; text-align:center; font-style:none;	  }
.section.page-node .barbers h3, .barbers h3{ color:#1d1d1b; font-size:1.75em; font-style:none;text-align:center; }
.barbers img{ -moz-border-radius:75px; -webkit-border-radius:75px; border-radius:75px; }
.our-video{ position:relative; height:315px; width:100%; }
.our-video iframe{position:absolute; left:50%; margin-left:-280px; }
.panels-flexible-region-3-center{ width:100%; }
.node-8 .grid-container > h1:first-child {display:none; }
.scrollToTop{
	width:42px; 
	height:42px;
	line-height:44px;
	border:4px solid #b71b20;
	border-right:0;
	color: #b71b20;
	font-weight:600;
	font-family:'Porter Bold', Porter Bold, 'LTCircular',Arial,sans-serif; 
	cursor:pointer; text-transform:uppercase;
	text-decoration: none;
	position:fixed;
	top:50%;
	margin-top:-22px;
	right:0;
	display:none;
	background:none;
	font-size:1.25em;
	text-align:center;
}
.scrollToTop:hover{
	color: #f4f4f4;
	background:#b71b20;
	text-decoration:none;
}
ul.mobile-menu {
	position:fixed;
	top:70px;
	display:none;
	list-style:none;
	background:#848484;
	z-index:9;
	margin:0;
	padding-top:0;
	padding-bottom:0;
	height:100%;
}
ul.mobile-menu li{
	background:#444;
	height:40px;
	line-height:40px;
}
ul.mobile-menu li a{
	width:100%;
	float:left;
	text-align:center;
	text-decoration:none;
	color:#fff;
	font-size:1.25em;
	font-family:'Porter Bold', Porter Bold, 'LTCircular',Arial,sans-serif; 
}
ul.mobile-menu li a:hover{
	background:#1d1d1b;
}
/* Google review overwrite*/
#___post_0{ width:100%!important;
	height:550px!important;
	float:left!important;
}
#___post_0 iframe{
	width:100%!important;
}
#widget_bounds .Yc { width: auto!important; float:left!important; }
.content .form-item{
	float:left;
	width:100%;
}
.content .form-item label,
.content .form-item .description{
	font-size:1.4em;
    color: #1d1d1b;
    font-family: 'LTCircular',Arial,sans-serif;
    line-height: 1.47;
}
.content .form-item input{
	width:100%;
	float:left;
	font-size:1.4em;
	height:34px;
	line-height:34px;
	border:3px solid #1d1d1d; 
	background:#fff;
}
ul.social-media{
	float:left;
	list-style:none;
	margin:5px 0;
}
ul.social-media li{
	float:left;
	margin-right:10px;
	height:30px;
	width:30px;
}
ul.social-media li a{ 
	font-size:0;
	float:left;
	background:url("../images/social/social-media.png") no-repeat;
	height:30px;
	width:30px;
	transition: all 0.3s ease-in-out 0s;
}
ul.social-media li a:hover{
	cursor: pointer;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}
ul.social-media li a.facebook{
	background-position:0 0;
}
ul.social-media li a.email{
	background-position:-90px 0;
}
ul.social-media li a.twitter{
	background-position:-30px 0;
}
ul.social-media li a.yelp{
	background-position:-150px 0;
}
ul.social-media li a.youtube{
	background-position:-180px 0;
}
ul.social-media li a.tumblr{
	background-position:-120px 0;
}
ul.social-media li a.instagram{
	background-position:-60px 0;
}
.closed-message{
    font-family: 'Porter Bold',Porter Bold,'LTCircular',Arial,sans-serif;padding-top: 23px;text-align: center;
}
.blogs-content{
    position: relative;
}
.submitted-date{
	float:left;
	height:60px;
	width:60px;
	font-family: 'Porter Bold',Porter Bold,'LTCircular',Arial,sans-serif;text-align: center;
	font-size:150%;
}
.blog-calendar.submitted{
	position:absolute; 
	top:10px;
	left:10px;
}
.submitted-date .date, .submitted-date .month{
	float:left;
	line-height:26px;
	height:30px;
	width:60px;
}
.submitted-date .date{
	border:3px solid #b71b20;
	background:#fff;
	color:#b71b20; 
	border-bottom:0; 
}
.submitted-date .month{
	border:3px solid #b71b20;
	background:#b71b20;
	color:#fff; 
	border-top:0; 
}
.blogs-content p:first-child:first-letter { 
    font-size: 400%;
	line-height: 75%;
	padding:0 5px 0 0;
    color: #000;
	font-family: 'Porter Bold',Porter Bold,'LTCircular',Arial,sans-serif;
}
.blogs-content .field-type-text-with-summary{
	float:left;
	margin:10px 0 10px 0;
}
.image-and-body .field-type-text-with-summary, .image-and-body .field-name-field-image{ width:100%; maring-right:0; }
.tags-and-categories{
	width:100%;
	float:left;
	margin:10px 0 10px 0;
}
.tags-and-categories .field-name-field-categories, .tags-and-categories .field-name-field-tags{ width:100%; }
.form-wrapper legend, .tags-and-categories legend{ display:none; }
.blogs-content .field-name-field-categories .field-label,
.blogs-content .field-name-field-tags .field-label{
	font-size:150%;
	font-family: 'Porter Bold',Porter Bold,'LTCircular',Arial,sans-serif;
	margin-bottom:1em;
}
.blogs-content .field-name-field-tags .field-items, .blogs-content .field-name-field-categories .field-items{ font-size:150%; }
.field-label-above{ margin-bottom:2em; }
.blog-title{
	font-size:4em;
	text-align:center;
}
dt, dd, .fieldset-description, .field-prefix{
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 1.4em;
    color: #5c5c5c;
}
.field-prefix{ color:#b71b20; }
.blogs-content .field-items{ width:100%; float:left; margin-bottom:10px; }
.blogs-content .field-items .field-item.even, .field-items .field-item.odd{float:left; margin-right:10px; }
.tags-and-categories .field-name-field-categories, .tags-and-categories .field-name-field-tags{ width:100%; float:left; }
.view-blog .field-content{ width:100%; float:left; }
.blog-row img{ width:100%!important; height:100%!important; }
.blog-row{ position:relative; min-height:475px; }
.blog-row .blog-calendar.submitted {
	position:relative; 
	top:33px;
	left:0;
	border: 3px solid #b71b20;
    background: #b71b20;
    color: #fff;
    border-top: 0;
    float: left;
    line-height: 26px;
    height: 30px;
	font-family: 'Porter Bold',Porter Bold,'LTCircular',Arial,sans-serif;text-align: center;
	font-size:150%;
    width: 100px;
}
.blogs-content > div.field.field-name-field-image.field-type-image.field-label-hidden > div > div, .blogs-content .field-name-field-image .field-items field-item.odd{ float:none; }
.blogs-content .field-name-field-image .field-item.even img{ position:relative; left:50%; z-index:1; }
.blog-calendar.submitted{ z-index:2; }
.item-list{
	position: relative!important;
	z-index: 8!important;
}
